header {
  height: 120px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0, 27, 47, 1) 0%, rgba(0, 86, 149, 1) 88%);
  gap: 20px;
}

.boxLogo {
  // width: 300px;
  display: flex;
  align-items: center;
  color: white;
  height: 120px;
  justify-content: space-evenly;
  gap: 10px;
}

.boxLogo h1 {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.boxMenu {
  width: 450px;
}


.boxMenu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.boxMenu ul a {
  color: white;
}

.boxSearch {
  border: solid 2px white;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding-right: 20px;
}

.boxInput {
  border: none;
  outline: none;
  width: 200px;
  background-color: transparent;
  padding-left: 18px;
  color: white;
  font-size: 16px;
}

.boxInput::placeholder {
  color: white;
}

@media (max-width: 768px) {
  header {
    height: 120px;
    flex-direction: column;
    padding: 10px 0;
  }

  .boxMenu {
    width: 100%;
    padding: 0 16px;
  }

  .boxMenu ul {
    font-size: 1.2rem;
  }

  .boxSearch {
    display: none;
  }

  .boxLogo img {
    width: 40px;
  }

  .boxSearch {
    width: 220px;
  }

  .boxInput {
    width: 180px;
    font-size: 1rem;
  }

  .boxInput::placeholder {
    font-size: 1rem;
  }
}