header {
  padding: 15px;
  color: #f0f0f0;
  width: 100%;
  min-height: 130px;
  background: linear-gradient(90deg, #001b2f 0%, #003b6b 100%);
}

header > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 90px;
  margin: 0 auto;
}

header > section > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  gap: 16px;
  min-width: fit-content;
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  
  background-color: #001b2f90;
}

header > section > div > img {
  width: 62px;
  height: auto;
}

header > section > nav {
  display: flex;
  // width: 100%;

  background-color: #cecece90;
}

header > section > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

header > section > nav > ul > li {
  list-style: none;
  text-wrap: nowrap;
  // margin-right: 5vw;
}

header > section > nav > ul > li > a {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #f0f0f0;
}

.container__search {
  display: none;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }

  .container__search {
    display: flex;
  }
}