footer {
  height: 170px;
  color: white;
}

.boxSocial {
  background-color: rgba(0, 86, 149, 1);
  height: 120px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.boxTexto {
  background-color: rgba(35, 32, 32, 1);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .boxSocial {
    flex-direction: column;
    padding: 20px;
  }
}